dist: xenial
language: python
sudo: false

matrix:
  include:
    - python: 3.5
      # install monotable via setup.py at "."  pytest
      # delete the python source to prove the installed monotable is run
      # run pytest
      install:
        &utest_install
        - pip install "." pytest
        - rm -fr monotable
      script: &utest_run pytest --strict test

    - python: 3.6
      install: pip install tox
      script: tox -e cover,inspect,docs

    # experimental
    - python: 3.7
      install: *utest_install
      script: *utest_run

    - python: 3.7
      install: *utest_install
      script: *utest_run

    - python: pypy3
      install: *utest_install
      script: *utest_run

branches:
  only:
  - master
  - mono-proto
