language: python
sudo: false

matrix:
  include:
    - python: 2.7
      env: TOXENV=py27,cover
    - python: 3.3
      env: TOXENV=py33
    - python: 3.4
      env: TOXENV=py34
    - python: 3.5
      env: TOXENV=py35,cover,inspect,readme
    - python: 3.6
      env: TOXENV=py36,docs,experimental_static_type_checking
    - python: pypy
      env: TOXENV=pypy
    - python: pypy3
      env: TOXENV=pypy3

install:
  - pip install tox coverage coveralls

script: tox -e $TOXENV

after_success:
  - coverage combine
  - coveralls
